<form action="/clients/create" method="POST">   
    <label for="firstName">First Name:</label>
    <input id="firstName" name="firstName" type="text" value=<%= clientA.firstName ? clientA.firstName : '' %> >
    <label for="lastName">Last Name:</label>
    <input id="lastName" name="lastName" type="text" value=<%= clientA.lastName ? clientA.lastName : '' %> >
    <!-- <label for="email">Email:</label>
    <input id="email" name="email" type="text" value=<%= clientA.email ? clientA.email : '' %> > 
     -->
    <!-- <button type="submit" value="Submit">Cancel</button> -->

    <button type="submit" value="Submit">Submit </button>


    <!-- onClick="window.location.href='./clients/create' " -->
</form>
<button class="btn btn-danger" onClick="window.location.href='/clients'">

<%= errorMessage %>

